:root {
  --primary-color: rgb(241, 241, 241);
  --section-overlay: rgba(32, 30, 30, 0.627);
  --background-overlay: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: "Inter Tight", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  color: rgb(241, 241, 241);
}
